* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Cairo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px; /* Add border radius */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #e8591d;
  border-radius: 10px; /* Add border radius */
}

body {
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}
